@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Lora:ital@1&family=Montserrat:wght@400;600&display=swap');

/* ### global css variables ### */
:root {
    /* colours */
    --light-shades: #F3F7F8;
    --pods: #A4B4CA;   
    --pods1:#c5cfdd;
    --main-colour: #3d78a1;
    --primaryText: #293a57;
    --warningText: #ff0000;

    /* items that were in colour chart not used: 
    --lightBlue:  #7f91da;
    --dark-accent: #98AFC6;
    --dark-shades: #538DDA;
    */

    /* fonts */
    --mainHeaderFontFamily:'Montserrat', sans-serif;    
    --introTextFontFamily: 'Lora', serif;
    --paragraphFontFamily: 'Hind Madurai', sans-serif;
    --mainHeaderH1FontSize: 64px;
    --introTextPFontSize: 36px;
    --otherHeadingsH2FontSize: 24px;
    --paragraphFontSize: 20px;

}

h1 {
    font-family: var(--mainHeaderFontFamily);
    font-size: var(--mainHeaderH1FontSize);
    color: var(--primaryText);
    font-weight: 600px;
}
.introText{
    font-family: var(--introTextFontFamily);
    font-size: var(--introTextPFontSize);
    color: var(--primaryText);
    font-style: italic;
    font-size: var(--introTextPFontSize);
}
h2 {
    font-family: var(--mainHeaderFontFamily);
    font-size: var(--mainHeaderH1FontSize);
    color: var(--primaryText);
    font-size: var(--otherHeadingsH2FontSize); 
    font-weight: 400px;
}
p, a {
    font-family: var(--paragraphFontFamily);
    font-size: var(--paragraphFontSize);
    color: var(--primaryText);
}
.warningText {
    color: red;
}

/* sidebar */
#sidebar {
    width: 10vw;
    min-width: 200px;
    height: 100vh;
    background-color: var(--main-colour);
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 15px;
    margin: 0;
}
#logoContainer {
    margin-bottom:30px;
}
#sidebarMenu {
    display: flex;
    flex-direction: column;
}
#sidebarMenu a {
    text-decoration: none;
}
.sideBarMenuOptions {
    height: 60px;
    display: flex;
    justify-self: center;
    align-items: center;
    padding: 3px;
    background-color: var(--pods);
}
.sideBarMenuOptions p {
    font-size: 17px;
}
#sideBarMenuCreateComp {
    background-color: var(--light-shades);
}
